[user]
	name = rinshadibnabu
	email = rinshadpibnabu@gmail.com
[alias]
    gs    = status
    a    = !git add . && git status
    au   = !git add -u . && git status
    aa   = !git add . && git add -u . && git status
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
