[Unit]
Description=Creates Notification when battery is below safe level.

[Service]
Type=oneshot
ExecStart=/home/r5d/.local/bin/battery
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=WAYLAND_DISPLAY=wayland-0
StandardOutput=null
StandardError=null
SyslogIdentifier=

[Install]
WantedBy=default.targe
