[Unit]
Description=Creates Notification when battery is below safe level.

[Service]
ExecStart=/home/rinshad/.local/bin/battery

[Install]
WantedBy=default.target
